
.reservation-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reservation-container {
    width: 400px;
    height: 500px;
    border-color: tomato;
    background-color: white;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.text-description {
    margin-top: 2rem !important;
}

.time-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem !important;
}

.reservation-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem; 
}

.cancel-button,
.reservation-button {
    width: 100px;
    background-color: white;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.cancel-button:hover,
.reservation-button:hover {
    background-color: tomato;
    color: white;
    transform: scale(1.05);
}

.text-tomato {
    color: tomato;
  }